<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Peter's Records</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body class="m-2">
  <!-- styling to center table name -->
  <h2 class="text-center">Peter's Record Collection</h2>
  
  <div th:if="${records.isEmpty()}">
  	<h1 class="alert-danger text-center">There are no records to display yet.</h1>
  	<p>Add a record to start your collection!</p>
  </div>
  <div th:unless="${records.isEmpty()}">
  <!-- table styling to highlight current row when mouse hovers -->
  <table class="table table-hover mt-5">

		<tr>
			<th>Title</th>
			<th>Artist</th>
			<th>Release Year</th>
			<th>More Info</th>
		</tr>
		
		<tr th:each="record : ${records}">
			<td><span th:text="${record.title}"></span></td>
			<td><span th:text="${record.artist}"></span></td>
			<td><span th:text="${record.releaseYear}"></span></td>
			<td><a th:href="@{'/records/' + ${record.id}}">More Info</a></td>
		</tr>
		
	</table> 
  <!-- styling to highlight the number of records in collection -->
  <p class="alert-info">Total Records in Collection: <span th:text="${count}"></span></p>
  <!-- button styling to span width of page/table -->
  </div>
  <a class="btn btn-primary btn-block mt-3" href="/add-record" role="button">Add a record</a>
</body>
</html>